h3 Draft 2013 
p 29 septembre 14h00 
p 7005 rue Louise-Carrier Lévis G6V 8R5
p Masse salariale : 64 300 000 $
p Nombre de joueurs minimum 23 (dont 12 avants, 6 defs, 2 gardiens) | Nombre de joueurs maximum 30

ul
  li Pete : + 51$
  li Flojim : + 46$
  li Shi : + 1$
  li Thé-Pinpon : -14$
  li JN : -24$
  li Gui : -24$
  li Oli : -24$
  li Pype : -24$
  li Piercul : -24$
  li Langlois : -24$
  li Caillou : -29$
