h1 YO
p Version très très très préliminaire d'un nouveau site...
p Pour l'instant vous pouvez consulter vos, clubs ainsi que ceux de tout le monde et visualiser les agents libre pour le prochain repêchage.
p Je suggère les dates du 28 ou du 29 septembre pour le draft...